<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control"  placeholder="Search" >
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>
