<% if user_signed_in? %>
  <div class="container mt-4"> 
    <%= render "books/index" %>
  </div>
<% else %>
  <div class="container mt-4"> 
    <div class="jumbotron"> 
      <h2>Bienvenue sur Book2Book !</h2>
    </div>
  </div>
<% end %>
