<h1>Welcome to your Books!</h1>
<h3>Here are your Books registered for rental:</h3>
<br>
<br>
<% @user_books.each do |book| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to book_path(book), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3), url(<%= asset_path('default-book.png') %>)">
            <div>
              <%= image_tag "default-book.png", class: "img-fluid max-width: 200px height: auto img-thumbmail my-5" %>
              <h5><%= book.title %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
